.form-appointment {
    padding: 0;
    @include flexbox;

    .background {
        background-repeat: none;
        background-position: center;
        background-size: cover;
        width: 40%;
        display: none;
    }

    .appointment {
        width: 100%;
        background-color: $main-blue;
        padding: 80px 40px;

        textarea {
            margin: 60px 0;
        }
    }

    @media all and (min-width: $media-large) {
        .background {
            display: block;
        }

        .appointment {
            width: 60%;
            padding: 80px;
            @include flexbox;
            @include flex-align (space-between, center);

            input, select {
                width: 49%;
            }
        }
    }

    @media all and (max-width: $media-large) {
        .appointment {
            text-align: center;
        }
    }
}