.footer {
    text-align: center;
    padding: 50px 0;

    img {
        width: 100px;
    }

    .menu {
        list-style: none;
        padding: 20px;

        .menu-item {
            display: inline-block;
            padding: 15px 20px;
            font-size: 15px;
            text-transform: uppercase;

             a {
                 color: $main-purple;
                 font-weight: 700;
                 text-decoration: none;
            }

        }
    }

    .footer-description {
        margin: 0;
        color: $font-lightgray;
        font-weight: 300;
    }

}