//fonts
$font-roboto: 'Roboto', sans-serif;
$font-bellota: 'Bellota', cursive;

// colors
$main-blue: #1ba4ce;
$main-purple: #473452;
$main-darkgray: #1e2528;

$font-lightgray:#888888;
$font-gray: #555555;

//container sizes
$small: 100%;
$large: 960px;
$extra-large: 1140px;

//media sizes
$media-extra-small: 480px;
$media-small: 576px;
$media-medium: 768px;
$media-large: 992px;
$media-extra-large: 1200px;